<div class="row">


    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a routerLink="fromevent" class="btn btn-primary">Observable-FromEvent</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a routerLink="interval" class="btn btn-primary">Observable-Interval/Timer</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a routerLink="of-from" class="btn btn-primary">Observable-Of-From</a>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a routerLink="toarray" class="btn btn-primary">Observable-toArray</a>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a routerLink="fromevent" class="btn btn-primary">Observable-FromEvent</a>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a routerLink="fromevent" class="btn btn-primary">Observable-FromEvent</a>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a routerLink="fromevent" class="btn btn-primary">Observable-FromEvent</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a routerLink="fromevent" class="btn btn-primary">Observable-FromEvent</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a routerLink="fromevent" class="btn btn-primary">Observable-FromEvent</a>
            </div>
        </div>
    </div>
</div>