<div class="row">
    <div class="col-md-4">
        <strong>Ex. 1 With Promise</strong>
        <hr>
        <button class="btn btn-primary" (click)="getData1()">Buy Laptop</button>
        <hr>
        <div>{{data1}}</div>
    </div>
    <div class="col-md-4">
        <strong>Ex. 2 With Async & Await</strong>
        <hr>
        <button class="btn btn-primary" (click)="getData2()">Buy Laptop</button>
        <hr>
        <div>{{data2}}</div>
    </div>
    <div class="col-md-4">
        <strong>Ex. 3 With Fetch API</strong>
        <hr>
        <button class="btn btn-primary" (click)="getData3()">Buy Laptop using promise</button>
        <button class="btn btn-primary" (click)="getData4()">Buy Laptop using async-await</button>
        <hr>
        <div>{{data3}}</div>
    </div>

</div>