<div class="my-3">
    <h2>Interval/Timer Event</h2>
    <br>
    <div class="row">


        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Interval Event
                </div>
                <div class="card-body">
                    <ul id="test1">

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Timer Event
                </div>
                <div class="card-body">
                    <ul id="test2">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>